body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #0D47A1;
  color: #E0E0E0;
  font-size: 30px;
  animation: rainbows 7s infinite;
}
input {
  border: none !important;
  border-radius: 5px;
  background: white;
  color: #333;
  font-size: inherit;
  font-family: inherit;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  width: 60px;
}
ul {
  margin: 5px 15px;
  padding: 0;
}
ul li {
  display: inline;
  margin-right: 5px;
}
@keyframes rainbows {
  0% {background:#2196F3;}
  14% {background:#00BCD4;}
  29% {background:#8BC34A;}
  43% {background:#FFC107;}
  57% {background:#FF5722;}
  71% {background:#E91E63;}
  86% {background:#673AB7;}
  100% {background:#2196F3;}
}
.how {
  display: none;
  position: absolute;
}
li:hover {
  background: rgba(255,255,255,0.3);
}
li:hover .how {
  display: inline;
  top: 120px;
  width: 200px;
  background: white;
  padding: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  color: #666;
  font-size: 20px;
}
li:hover .how:before {
  content: "";
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  position: absolute;
  top: -15px;
}
sup { 
  vertical-align: super;
  font-size: 10px;
}
b {
  font-weight: bold;
}
